/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
  }

  body {
    width: 100vw;
    height: 100vh;
    background-color: #ffaeae;
  }

  .align-center {
    margin: 15px;
    border: 1px dashed rgb(252, 13, 232);
  }